input[type="submit"] {
  background-color: #cccccc;
}

.row {
  display: flex;
  flex-direction: row;
}

.calibration {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 1rem;
}
form {
  display: flex;
}
label > input {
  width: 3em;
}
form > * {
  padding-right: 1em;
}
#result {
  font-weight: bold;
}
