<!DOCTYPE html>
<title>FuFarm Autodoser</title>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/sakura.css@1.3.1/css/sakura.css"
/>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<h1>FuFarm Autodoser</h1>
<hr />
<h4>Current Values</h4>
<div class="row">
  <label for="current-ec">Current EC:&nbsp</label>
  <output id="current-ec">{{app_state.current_ec}}</output>
</div>
<div class="row">
  <label for="last-dosetime">Last Dose Time:&nbsp</label>
  <output id="last-dosetime"
    >{{ app_state.last_dose_time | format_time}}</output
  >
</div>
<div class="row">
  <label for="dose-count">Dose Count:&nbsp</label>
  <output id="dose-count">{{app_state.dose_count}}</output>
</div>
<div class="row">
  <label for="total-dose-time">Total Dose Time (s):&nbsp</label>
  <output id="total-dose-time">{{app_state.total_does_time}}</output>
</div>
<hr />
<h4>Control Parameters</h4>
<form id="set-parameters-form">
  <div>
    <div class="row">
      <label for="select-mode">Mode: </label>
      <select id="select-mode" name="mode">
        <optgroup label="Mode">
          <option value="monitor">Monitor</option>
          <option value="control">Control</option>
        </optgroup>
      </select>
    </div>
    <div class="row">
      <label for="target-ec">Target EC: </label>
      <input
        name="target-ec"
        id="target-ec"
        type="number"
        step="0.1"
        value="{{ app_state.target_ec }}"
      />
    </div>
    <div class="row">
      <label for="equilibration-time">EquilibrationTime (s): </label>
      <input
        id="equilibration-time"
        name="equilibration-time"
        type="number"
        step="1"
        value="{{ app_state.equilibration_time }}"
      />
    </div>
    <div class="row">
      <label for="dose-duration">Dose duration (s): </label>
      <input
        id="dose-duration"
        name="dose-duration"
        type="number"
        step="1"
        value="{{ app_state.dose_duration }}"
      />
    </div>
    <input type="submit" value="Submit" />
  </div>
</form>

<hr />
<h4>Actions</h4>
<form id="manual-dose-form">
  <label>Manual Dose:</label
  ><input name="manual-dose-duration" type="number" step="1" value="10" /><input
    type="submit"
    value="Dose"
  />
</form>
<form id="calibrate-ecprobe">
    <div class="calibration">
      <div class="row">
        <label>Calibrate EC Probe:</label>
        <input
          type="submit"
          value="Calibrate"
        />
      </div>
      <div class="row">
        <label>Calibration temperature:</label>
        <input id="calibrate-ecprobe-temperature"  name="calibrate-ecprobe-temperature" type="number" step="0.1" value="25.0"/>
      </div>
      <div class="row">
        <label>Status:</label>
        <output id="calibrate-ecprobe-status">Waiting on status...</output>  
      </div>
    </div>
  </form>
</form>

<script>

  function updateState() {
    let url = {{ url_for('status')|tojson }};
    fetch(url)
    .then(response => response.json())
      .then(updateStatus);
  }

  function updateStatus(data) {
    const current_ec = document.getElementById('current-ec');
    current_ec.innerText = data.state.current_ec;
    const dose_time = document.getElementById('last-dosetime');
    dose_time.innerText = new Date(data.state.last_dose_time * 1000).toGMTString();
    const dose_count = document.getElementById('dose-count');
    dose_count.innerText = data.state.dose_count;
    const total_dose_time = document.getElementById('total-dose-time');
    total_dose_time.innerText = data.state.total_dose_time
    const calibration_temperature = document.getElementById('calibrate-ecprobe-temperature');
    calibration_temperature.innerText = data.state.calibration_temperature
    const calibration_status = document.getElementById('calibrate-ecprobe-status');
    calibration_status.innerText = data.state.calibration_status_message
  }


  function addParamsSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('control')|tojson }}, {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(response => paramsUpdate(response.parameters));
    ev.submitter.blur(); // Remove focus from the button
  }

  function paramsUpdate(parameters) {
    // We reset the parameters in case the server has changed them
    if ( 'dose_duration' in parameters) {
      const dose_duration = document.getElementById('dose-duration');
      dose_duration.value = parameters.dose_duration;
    }
    if ( 'equilibration_time' in parameters ) {
      const equilibration_time = document.getElementById('equilibration-time');
      equilibration_time.value = parameters.equilibration_time;
    }
    if ( 'target_ec' in parameters ) {
      const target_ec = document.getElementById('target-ec');
      target_ec.value = parameters.target_ec;
    }
  }

  var form = document.getElementById('set-parameters-form');
  form.addEventListener('submit', addParamsSubmit);


  function addDoseSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('dose')|tojson }}, {
      method: 'POST',
      body: formData
    })
    ev.submitter.blur(); // Remove focus from the button
  }

  var form = document.getElementById('manual-dose-form');
  form.addEventListener('submit', addDoseSubmit);

  function addCalibrateSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('calibrate_ec')|tojson }}, {
      method: 'POST',
      body: formData
    })
  }

  var form = document.getElementById('calibrate-ecprobe');
  form.addEventListener('submit', addCalibrateSubmit);

  setInterval(updateState, 10000);
</script>
