<!DOCTYPE html>
<title>JavaScript Example</title>
<link
  rel="stylesheet"
  href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/sakura.css@1.3.1/css/sakura.css"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
<style>
  .group {
    display: flex;
    flex-direction: row;
  }
  form {
    display: flex;
  }
  label > input {
    width: 3em;
  }
  form > * {
    padding-right: 1em;
  }
  #result {
    font-weight: bold;
  }
</style>

<h1>FuFarm Autodoser</h1>
<hr />
<h4>Current Values</h4>
<!-- <div class="group">
  <label for="calibrate">Run Calibration: </label>
  <input id="calibrate-btn" type="submit" value="Calibrate" />
</div> -->
<div class="group">
  <label for="current-ec">Current EC:&nbsp</label>
  <output id="current-ec">42</output>
</div>
<div class="group">
  <label for="last-dosetime">Last Dose Time:&nbsp</label>
  <output id="last-dosetime">14:15</output>
</div>
<div class="group">
  <label for="dose-count">Dose Count:&nbsp</label>
  <output id="dose-count">0</output>
</div>
<div class="group">
  <label for="total-dose-time">Total Dose Time (s):&nbsp</label>
  <output id="total-dose-time">0</output>
</div>
<!-- <div class="group">
  <label>LogOutput: </label>
  <textarea id="logoutput" name="logout" rows="10" cols="50">FOO</textarea>
</div> -->
<hr />
<h4>Control Parameters</h4>
<form id="set-parameters-form">
  <div>
    <div class="group">
      <label for="select">Mode: </label>
      <select id="select" name="mode">
        <optgroup label="Mode">
          <option value="monitor">Monitor</option>
          <option value="control">Control</option>
        </optgroup>
      </select>
    </div>
    <div class="group">
      <label for="target-ec">Target EC: </label>
      <input id="target-ec" name="target-ec" type="number" step="0.1" />
    </div>
    <div class="group">
      <label for="equilibration-time">EquilibrationTime (s): </label>
      <input
        id="equilibration-time"
        name="equilibration-time"
        type="number"
        step="1"
      />
    </div>
    <div class="group">
      <label for="dose-duration">Dose duration (s): </label>
      <input id="dose-duration" name="dose-duration" type="number" step="1" />
    </div>
    <input type="submit" value="Submit" />
  </div>
</form>

<hr />
<h4>Actions</h4>
<!-- <div class="group">
  <label for="calibrate">Run Calibration: </label>
  <input id="calibrate-btn" type="submit" value="Calibrate" />
</div> -->
<form id="manual-dose-form">
  <label>Manual Dose:</label
  ><input name="manual-dose-duration" type="number" step="1" value="10" /><input
    type="submit"
    value="Dose"
  />
</form>
<form id="calibrate-ecprobe">
  <label>Calibrate EC Probe:</label
  ><input name="calibrate-ecprobe-check" type="hidden" value="333" /><input
    type="submit"
    value="Calibrate"
  />
</form>

<script>
  {#
  // function getCurrentEC() {
  //   let url = {{ url_for('status')|tojson }} + '?' + new URLSearchParams({ q: 'current_ec'}).toString();
  //   fetch(url)
  //   .then(response => response.json())
  //   .then(updateEC);
  // }
  #}


  function updateState() {
    let url = {{ url_for('status')|tojson }};
    fetch(url)
    .then(response => response.json())
      .then(updateStatus);
  }

  function updateStatus(data) {
    const current_ec = document.getElementById('current-ec');
    current_ec.innerText = data.state.current_ec;
    const dose_time = document.getElementById('last-dosetime');
    dose_time.innerText = new Date(data.state.last_dose_time * 1000);
    const dose_count = document.getElementById('dose-count');
    dose_count.innerText = data.state.dose_count;
    const total_dose_time = document.getElementById('total-dose-time');
    total_dose_time.innerText = data.state.total_dose_time
  }

  function addParamsSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('control')|tojson }}, {
      method: 'POST',
      body: formData
    })
      // .then(response => response.json())
      // .then(response => console.log(`Response XX: ${JSON.stringify(response,null,2)}`));
  }

  var form = document.getElementById('set-parameters-form');
  form.addEventListener('submit', addParamsSubmit);


  function addDoseSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('dose')|tojson }}, {
      // headers: {
      //   "Content-Type": "application/json",
      // },
      method: 'POST',
      body: formData
    })
      // .then(response => response.json())
      // .then(response => console.log(`Response XX: ${JSON.stringify(response,null,2)}`));
  }

  var form = document.getElementById('manual-dose-form');
  form.addEventListener('submit', addDoseSubmit);

  function addCalibrateSubmit(ev) {
    ev.preventDefault();
    const formData = new FormData(this);
    fetch({{ url_for('calibrate_ec')|tojson }}, {
      // headers: {
      //   "Content-Type": "application/json",
      // },
      method: 'POST',
      body: formData
    })
      // .then(response => response.json())
      // .then(response => console.log(`Response XX: ${JSON.stringify(response,null,2)}`));
  }

  var form = document.getElementById('calibrate-ecprobe');
  form.addEventListener('submit', addCalibrateSubmit);

  setInterval(updateState, 2000);
</script>
